@model IEnumerable<UCar.Car>

<h1>Неподтвержденные машины</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <img class="img-thumbnail" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="img-thumbnail" src="@item.Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Подтвердить", "Confirm", new { id=item.ID.IDValue })  |
                    @Html.ActionLink("Удалить", "Delete", new { id=item.ID.IDValue })
                </td>
            </tr>
        }
    </tbody>
</table>


